parameters:
  level: 8
  paths:
    - src
  ignoreErrors:
    - # false && yield is idiomatic in await-generator
      message: "#^Left side of && is always false\\.$#"
      paths:
        - src/*
    - # Infinite loops terminated by Traverser->interrupt() is idiomatic in await-generator.
      message: "#^While loop condition is always true\\.$#"
      paths:
        - src/*



includes:
  - ./phpstan-baseline.neon
