parameters:
  level: 8
  paths:
    - src
  ignoreErrors:
    - # false && yield is idiomatic in await-generator
      message: "#^Left side of && is always false\\.$#"
      paths:
        - src/*


includes:
  - ./phpstan-baseline.neon
